* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
}

li {
  cursor: pointer;
}

.content {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.behind {
  display: flex;
  background-image: url("../../static/images/enigma_back.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.tagline {
  font-family: "Permanent Marker", cursive;
  font-weight: 900;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #93edb7;
  position: relative;
  background-color: #05386b;
  opacity: 0.94;
  z-index: 2;
  text-align: left;
  min-height: 600px;
  width: 100%;
  -webkit-box-shadow: 0px 6px 60px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 60px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 60px -6px rgba(0, 0, 0, 0.75);
}

.projects {
  color: #123c69;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.about-proj {
  z-index: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.proj-info {
  margin-left: 5rem;
  margin-bottom: 4rem;
}

.proj-info p {
  max-width: 400px;
}

.tab-guess-wrap {
  display: flex;
  align-self: flex-end;
  flex: 3;
  width: 100%;
  cursor: pointer;
}
.open-tab-button {
  background-color: #3aadfb;
  height: 170px;
  width: 100%;
}
.guess-button {
  background-color: #06252b;
  height: 170px;
  width: 100%;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  padding: 2rem;
  border: none;
  background-image: url("../../static/images/left-arrow.png");
  background-size: cover;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.back:hover {
  left: 1rem;
}

.otimage {
  position: absolute;
  left: 9rem;
  bottom: 10rem;
  max-height: 500px;
  max-width: 300px;
  -webkit-box-shadow: 4px 2px 22px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 2px 22px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 4px 2px 22px -5px rgba(0, 0, 0, 0.65);
}
.fledgeimage {
  position: absolute;
  left: 9rem;
  bottom: 10rem;
  max-height: 500px;
  max-width: 300px;
  -webkit-box-shadow: 4px 2px 22px -5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 4px 2px 22px -5px rgba(0, 0, 0, 0.65);
  box-shadow: 4px 2px 22px -5px rgba(0, 0, 0, 0.65);
}

.guessimage-positioner {
  position: absolute;
  left: 9rem;
  bottom: 10rem;
  height: 400px;
  width: 400px;
}
.guessimage {
  position: absolute;
  background-image: url("../../static/images/another.png");
  background-size: cover;
  height: 400px;
  width: 400px;
}

.stamp {
  position: absolute;
  transform: rotate(12deg);
  color: #555;
  top: 50%;
  left: 30px;
  font-size: 2rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: "Courier";
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  mask-size: 944px 604px;
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.triangle-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 800px solid transparent;
  border-right: 500px solid #06252b;
  border-bottom: 0px solid transparent;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.triangle-left:nth-child(2) {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 600px solid transparent;
  border-right: 400px solid #051c20;
  border-bottom: 0px solid transparent;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.triangle-left:nth-child(3) {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 400px solid transparent;
  border-right: 250px solid #04171b;
  border-bottom: 0px solid transparent;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.square {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 1000px;
  background: #06252b;
  z-index: -1;
}
.square:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 1000px;
  background: #041f24;
  z-index: 0;
}
.square:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 1000px;
  background: #02181b;
  z-index: 1;
}

.triangle-topright {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 700px solid #06252b;
  border-left: 400px solid transparent;
  top: 0;
  right: 0;
  z-index: -1;
}

.triangle-topright:nth-child(2) {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  z-index: 0;
  border-top: 700px solid #051f24;
  border-left: 300px solid transparent;
}
.triangle-topright:nth-child(3) {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  z-index: 1;
  border-top: 500px solid #04191d;
  border-left: 200px solid transparent;
}

.live-button {
  background: none;
  border: 3px solid #06252b;
  color: #06252b;
  font-size: 2em;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.live-button::before {
  content: "";
  position: absolute;
  background: #06252b;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
}
.live-button:hover {
  color: whitesmoke;
}

.live-button:hover:before {
  top: 0;
}

#proj-fledge {
  position: relative;
  list-style: none;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100vh;
  background-image: url("../../static/images/fledge-tall.jpg");
  background-size: cover;
  color: #ffffff;
  background-position-x: -200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 500ms linear;
  -webkit-transition: -webkit-filter 500ms linear;
  z-index: 0;
}

#proj-fledge:hover {
  filter: none;
}

#proj-opentab {
  position: relative;
  list-style: none;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100vh;
  color: #ffffff;
  background-image: url("../../static/images/opentab-tall.jpg");
  background-size: cover;
  background-position-y: -100px;
  background-position-x: -100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 500ms linear;
  -webkit-transition: -webkit-filter 500ms linear;
}
#proj-opentab:hover {
  filter: none;
}
#proj-movie {
  position: relative;
  list-style: none;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100vh;
  background-image: url("../../static/images/movie-tall.jpg");
  background-size: cover;
  background-position-x: -350px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #ffffff;
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 500ms linear;
  -webkit-transition: -webkit-filter 500ms linear;
}
#proj-movie:hover {
  filter: none;
}

.figcap h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.figcap p {
  position: relative;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 100px;
  font-size: 121%;
  margin-bottom: 2rem;
}

.proj-list li:hover span::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
.proj-list li:hover h2 {
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}
.proj-list li h2 {
  font-size: 2em;
  padding-bottom: 2rem;
}

.figcap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.proj-list li h4 {
  width: 0px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.proj-list li:hover h4 {
  width: 200px;
  opacity: 1;
  mix-blend-mode: hard-light;
  background-color: #06252b;
  font-size: 1.5em;
}

.figcap::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}
.proj-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
.tag {
  margin: 0;
}
.tag::selection {
  background-color: #a11d1d;
}
.up-button {
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #a11d1d;
  justify-content: center;
  align-items: center;
  background-image: url("../../static/images/up-new.png");
  background-size: contain;
  cursor: pointer;
}
.slide-exit {
  transform: translateY(-160%);
  transition: all 700ms ease-out;
}
.cut-down-exit {
  transform: translateY(40%);
  transition: all 400ms ease-out;
}
.cut-down-exit-done {
  transform: translateY(40%);
}

.rise-up-exit {
  transform: translateY(-30%);
  transition: all 400ms ease-out;
}
.rise-up-exit-done {
  transform: translateY(-30%);
}

.remove-project-exit {
  transform: translateY(-100%);
  transition: all 700ms ease-out;
}
.remove-project-exit-done {
  transform: translateY(-100%);
}

.cut-in {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../static/images/wheat.png");
  background-color: #292929;
  color: #3aadfb;
  min-height: 200px;
  font-size: 1.5em;
}
.cut-in-details {
  display: flex;
  align-items: center;
}
.desc {
  margin: 0;
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-right: 1rem;
}
#git {
  cursor: pointer;
  transition: color 200ms linear;
  text-decoration: none;
  color: #3aadfb;
}
#git:visited {
  text-decoration: none;
}
#git:hover {
  color: #fff;
}
#linked {
  text-decoration: none;
  cursor: pointer;
  transition: color 200ms linear;
  color: #3aadfb;
}
#linked:visited {
  text-decoration: none;
}
#linked:hover {
  color: #fff;
}
.cv-button {
  text-decoration: none;
  position: relative;
  background: none;
  border: none;
  color: #3aadfb;
  font-size: 1em;
  transition: border-width 0.6s linear;
  transition: color 200ms linear;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}
.cv-button:hover {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .tag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .proj-list {
    flex-direction: column;
  }
  #proj-fledge {
    height: 100%;
    background-position-x: 0px;
  }
  #proj-opentab {
    height: 100%;
    background-size: auto;
    background-position-y: -700px;
    background-position-x: -500px;
  }
  #proj-movie {
    height: 100%;
  }

  .projects {
    min-height: 90vh;
  }

  .about-proj {
    min-height: 0%;
  }
  .triangle-left {
    display: none;
  }
  .square {
    display: none;
  }
  .triangle-topright {
    display: none;
  }

  .guessimage-positioner {
    position: relative;
    order: 2;
    left: 0;
    bottom: 0;
    margin-bottom: 8rem;
  }
  .fledgeimage {
    position: initial;
    order: 2;
    margin-top: 1rem;
    margin-bottom: 8rem;
  }
  .otimage {
    position: initial;
    order: 2;
    margin-top: 1rem;
    margin-bottom: 8rem;
  }
  .proj-info {
    margin-left: 0;
    order: 2;
    text-align: center;
  }
  .proj-info ul {
    text-align: left;
  }
  .back {
    position: relative;
    left: 0;
    order: 1;
  }
}
